.hero {
  background-image: url('/images/hero-image.png');
  background-size: cover;
  background-position: center;
  height: 390px;
  display: flex;
  align-items: center;
  color: #fff;

  .container {
    width: 100%;
  }
}

.content {
  max-width: 600px;
  font-family: Poppins, sans-serif;

  h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 1rem;
  }

  p {
    font-size: 32px;
    margin-bottom: 1.5rem;
    font-weight: 500;

    strong {
      color: #F7CA11;
      font-weight: bold;
    }
  }

  button {
    background-color: #F7CA11;
    border: none;
    color: #271C47;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    width: 206px;
    height: 50px;
  }
}
