.footer {
  height: 46.84px;
  padding: 0 16px;
  text-align: center;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer p {
  font-size: 13px;
  color: #3F3F40;
  font-family: Poppins, sans-serif;
}
